---
import Layout from '../layouts/Layout.astro'
---

<Layout title={'About'}>
  <main class=l-c>
    <header id=p-h>
      <small>
        The newsletter
      </small>
      <h1>About</h1>
    </header>
    <section>
      <p>
        Gamedev.js Weekly is a weekly newsletter about web game development, sent every Friday. It was created by
        <a href=//end3r.com>Andrzej Mazur</a> from <a href=//enclavegames.com>Enclave Games</a> at the beginning of
        2014. The <a href=/1>first issue</a> was sent out on Friday, January 10th 2014, and the newsletter gets emailed to subscribers
        every single week since then.
      </p>
      <p>
        The list currently holds about 8000 active subscribers via Mailchimp. It is built and managed organically — only
        those who really want to subscribe are doing so, and inactive or spam accounts are regularly removed. Open rates
        are around 25-35% a week after publication, with 6-12% click rates.
      </p>
    </section>
    <section>
      <h2>Donate</h2>
      <p>
        If you're interested in supporting the newsletter with a donation, then feel free to use PayPal: either through
        sending funds to the PayPal ID <a href=mailto:contact@gamedevjsweekly.com>contact@gamedevjsweekly.com</a> or by
        using PayPal Me service directly. For other donation options please reach out via email to talk about the details.
      </p>
    </section>
    <section>
      <h2>Contact</h2>
      <p>
        To get in touch, please send an email to <a href=mailto:contact@gamedevjsweekly.com>contact@gamedevjsweekly.com</a>.
      </p>
      <a href=mailto:contact@gamedevjsweekly.com class=i-b>Contact us</a>
    </section>
  </main>
</Layout>