---
import Layout from '../layouts/Layout.astro'
---

<Layout title={'About'}>
  <main class=l-c>
    <header id=p-h>
      <small>
        The newsletter
      </small>
      <h1>About</h1>
    </header>
    <section>
      <p>
        <strong>Gamedev.js Weekly</strong> is a weekly newsletter about Web Game Development, sent every Friday. It was created by
        <a href=//end3r.com>Andrzej Mazur</a> from <a href=//enclavegames.com>Enclave Games</a> at the beginning of
        2014. The <a href=/1>first issue</a> was sent out on Friday, January 10th 2014, and the newsletter gets emailed to subscribers
        every single week since then.
      </p>
      <p>
        The list currently holds about 8000 active subscribers via Mailchimp. It is built and managed organically — only
        those who really want to subscribe are doing so, and inactive or spam accounts are regularly removed. Open rates
        are around 25-35% a week after publication, with 6-12% click rates.
      </p>
    </section>
    <section id=submit>
      <h2>Submit</h2>
      <p>
        Do you have anything you want to share with the Web Game Development community through the newsletter? If yes, then please let us know by contacting us directly with all the details!
      </p>
      <p>
        Share interesting resources with fellow folks, either yours or anything you have found online that fit the topic. Content submitted by readers ends up in a newsletter once every 2-3 issues on average, and we'd love to see even more involvement from you!
      </p>
    </section>
    <section id=sponsor>
      <h2>Sponsor</h2>
      <p>
        Are you interested in sponsoring the Gamedev.js Weekly newsletter? That's great, thank you! Check the details below:
      </p>
      <h3>Advertisements</h3>
      <p>
        We are open to include paid advert items in the newsletter. They have to be related to game development, front-end / JavaScript, or programming in general, and are placed in a related section, usually Tools or Resources.
      </p>
      <p>
        An advert item is text based, and consists of a title (recommended 80 characters), destination url, and description (up to 160 characters, but can be longer when needed). It is always marked with light blue background to stand out from the regular newsletter items.
      </p>
      <h3>Job openings</h3>
      <p>
        They look and work the same as regular advertisements, but don't have a light blue background, and are always placed in the Jobs section of a given newsletter issue.
      </p>
      <p>
        Available options for both types listed above include one-time spot, a month-long campaign, and longer placements as well - for detailed pricing please get in touch.
      </p>
    </section>
    <section id=donate>
      <h2>Donate</h2>
      <p>
        If you're interested in supporting the newsletter with a donation, then feel free to use PayPal: either through
        sending funds to the PayPal ID <a href=mailto:contact@gamedevjsweekly.com>contact@gamedevjsweekly.com</a> or by
        using <a href=//paypal.me/end3r>PayPal Me</a> service directly. For other donation options please reach out via email to talk about the details.
      </p>
    </section>
    <section id=shop>
      <h2>Shop</h2>
      <p>
        You can also show appreciation by visiting <a href=//gamedevjs.com/shop>Gamedev.js Shop</a> and buying a unique <a href=//gamedevjs.myspreadshop.com/gamedevjs+weekly-A65bbc1295e1af93b7370e4fb>Gamedev.js Weekly t-shirt</a>.
      </p>
    </section>
    <section id=contact>
      <h2>Contact</h2>
      <p>
        To get in touch, please send an email to <a href=mailto:contact@gamedevjsweekly.com>contact@gamedevjsweekly.com</a>.
      </p>
      <a href=mailto:contact@gamedevjsweekly.com class=i-b>Contact us</a>
    </section>
  </main>
</Layout>