---
import Layout from '../layouts/Layout.astro'
---

<Layout title={'Privacy policy'}>
  <main class=l-c>
    <header id=p-h>
      <small>
        Legal
      </small>
      <h1>Privacy policy</h1>
    </header>

    <h2>Who holds your data?</h2>
    <p>
      That would be <b>Enclave Games</b>, headquartered in Warsaw (Poland). We're registered with tax
      identification no. (NIP) 7122880773 and REGON no. 366764662.
    </p>
    <p>
      Any questions or requests regarding your personal data? Contact us at <b><a href="mailto:contact@gamedevjsweekly.com">contact@gamedevjsweekly.com</a></b>.
    </p>

    <h2>Where do we get your data from?</h2>
    <p>
      Only directly from you – and only the data you explictly give us by filling it out on any of our subscription
      forms. We do not receive your data from any third party.
    </p>

    <h2>Your rights</h2>
    <p>
      The <a href=//ec.europa.eu/info/law/law-topic/data-protection_en>GDPR</a> defines certain rights of EU citizens
      with regards to their personal data, but we extend those to all visitors regardless of their location:
    </p>
    <ul>
      <li><b>Access</b> – You can request more information about the personal data we hold about you and request a copy of it;</li>
      <li><b>Rectification and erasure</b> – If you believe that any personal data we hold about you is incorrect or incomplete, or simply wish to erase some or all of it from our systems, you can request such change;</li>
      <li><b>Restriction and objection</b> – You can ask us to restrict further processing of your personal data and prohibit certain data processing operations, such as the processing of your data for direct marketing purposes;</li>
      <li><b>Portability</b> – You can ask for a copy of your personal data in a machine-readable format. You can also request that we transmit the data to another entity where technically feasible;</li>
      <li><b>Complaint</b> – You have the right to lodge a complaint about our practices with respect to your personal data with the supervisory authority (Data Protection Authority) of your country;</li>
    </ul>
  </main>
</Layout>